<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="console" xsi:type="ColoredConsole"
		        layout="${time}|${level:uppercase=true:padding=-5}|${logger:shortName=true}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
		<target name="logdebug" xsi:type="File" fileName="debug.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
		        maxArchiveFiles="5" archiveAboveSize="5120000" />
		<target name="logerror" xsi:type="File" fileName="error.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="logdebug" />
		<logger name="*" minlevel="Warn" writeTo="logerror" />
	</rules>
</nlog>
